*{
	margin: 0;
	padding: 0;
}

body {  
	line-height: 1.5; 
	font: 12px "宋体", "Arial Narrow", HELVETICA; 
	color: #3F3E3C;
	background: url(../img/base/bg.jpg) center top;
}

a{
	text-decoration: none;
	color: #000000;
}

ul,li{
	list-style: none;
}

img{
	border: 0;
}

p { word-wrap: break-word }


.clearfix{
	*zoom: 1;
}
.clearfix::after{
	content: '';
	display: table;
	clear: both;
}

#footer{
	width: 100%;
	height: 60px;
	background-color: #000;
}

#footer p{
	font-size: 14px;
	color: #fff;
	line-height: 60px;
	text-align: center;
}