@CHARSET "UTF-8";
/*修改个人信息页面*/

@import url(base.css);
@import url(header.css);

#container{
	background: url(../img/index/bg.png) right bottom no-repeat;
	overflow: hidden;
}

#content{
	width: 1024px;
	height: 800px;
	margin: 0 auto;
	margin-bottom: 150px;
	overflow: hidden;
	background: url(../img/index/out.png);
}

.contentform{
	width: 700px;
	margin: 50px auto;
	background: url(../img/login/bg.png);
	box-shadow: 0px 0px 10px #d19394;
	overflow: hidden;
}

.userimage img{
	width: 100px;
	height: 100px;
	display: block;
	margin: 20px 40px 20px 300px;
	border-radius: 50%;
	border: 1px solid #000;
}

.user{
	width: 700px;
	line-height: 60px;
	text-align: center;
	margin: 0 auto;
}

.contentform input{
	width: 250px;
	height: 40px;
	border: 1px solid #999a97;
	background-color: rgba(153,154,151,0.5);
	box-shadow: 0 0 2px #999a97 inset;
	padding-left: 35px;
	border-radius: 4px;
}

.contentform input[placeholder]{ color: #000; }


#username{ 
	background-image: url(../img/login/smallimage.png); 
	background-position: 0 7px;
	background-repeat: no-repeat;
}

#password,#againpassword,#newpassword{
	background-image: url(../img/login/smallimage.png); 
	background-position: 0 -48px;
	background-repeat: no-repeat;
}

#myemail{
	background-image: url(../img/login/smallimage.png); 
	background-position: 0 -22px;
	background-repeat: no-repeat;
} 

#verification{
	background-image: url(../img/login/number.png); 
	background-position: 12px 15px;
	background-repeat: no-repeat;
} 

.contentform label{
	display: inline-block;
	font-family: "微软雅黑";
	width: 90px;
	line-height: 40px;
	font-size: 18px;
	text-align: right;
}

.contentform label[for="remember"]{
	font-size: 14px;
	width: 500px;
	line-height: 30px;
	text-align: left;
	margin-left: 100px;
}

.contentform input[type="checkbox"]{
	width: 10px;
	height: 10px;
	margin: 0 10px 0 40px;
	line-height: 30px;
	vertical-align: middle;
}

#user_sex{
	width: 497px;
	text-align: left;
	padding-left: 103px;
}

.contentform input[type="radio"]{
	width: 10px;
	height: 10px;
	line-height: 30px;
	vertical-align: middle;
	margin-left: 10px;
}

#submit,#back{
	width: 150px;
	height: 40px;
	text-align: center;
	padding-left: 0px;
	margin-top: 10px;
	background: url(../img/login/number.jpg);
	cursor: pointer;
}

#submit{
	margin: 20px auto 20px 210px;
}


p#username{
	font-family: "微软雅黑";	
	font-size: 18px;
	margin-left: 170px;
}

p#username span{
	width: 90px;
	margin-right:16px;
	line-height: 50px;
}